<section class="about-section">
    <div class="about-card">
        <div class="avatar">
            <div class="avatar-icon">👤</div>
        </div>
        <div class="about-content">
            <h3 class="about-title">Resumo das Qualificações</h3>
            <p>
                Desenvolvedor com mais de 6 anos de experiência, atuando desde 2017. 
                Possuo vivência em backend, frontend e desenvolvimento fullstack, experiência com automação de processos (RPA) e desenvolvimento low-code
                com Outsystems(Reactive Web). Trabalhei em projetos utilizando metodologias ágeis (Scrum e SAFe). Sempre focado em  entregar soluções
                eficientes e de alta qualidade. Busco aprimorar minhas habilidades técnicas e contribuir para o sucesso das equipes e projetos
                nos quais estou envolvido.
            </p>
        </div>
    </div>
</section>